    <div class="jumbotron py-0 px-3">
      <div class="row">
        <ul class="nav nav-tabs flex-column col-lg-3 px-0" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="true">Update Notice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="best-tab" data-toggle="tab" href="#best" role="tab" aria-controls="best" aria-selected="false">Best Seller Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="discount-tab" data-toggle="tab" href="#discount" role="tab" aria-controls="discount" aria-selected="false">Summer Discount</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="premium-tab" data-toggle="tab" href="#premium" role="tab" aria-controls="premium" aria-selected="false">Premium Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="gift-tab" data-toggle="tab" href="#gift" role="tab" aria-controls="gift" aria-selected="false">Gift Product</a>
          </li>
        </ul>
        <div class="tab-content col-md-12 col-lg-9 text-white" id="myTabContent">

          <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
            <div class="row">
              <div class="tab-text col-sm-12 col-md-6 col-lg-6">
                <h2>Website Product</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ornare dolor. Vivamus malesuada auctor est id aliquet. Morbi rutrum lectus sit amet purus pulvinar vehicula</p>
                <a href="product.html" class="btn btn-dark">View</a>
              </div>
              <img class="col-sm-6 col-md-6 col-lg-6 p-2" src="https://d3ba8pdxu9uuap.cloudfront.net/wp-content/uploads/2019/06/5-Web-Design-Turn-Offs-To-Avoid-1024x634.jpg" alt="" width="50" height="250">
            </div>
          </div>
          
          <div class="tab-pane fade" id="best" role="tabpanel" aria-labelledby="best-tab">
            <div class="row">
              <div class="tab-text col-sm-12 col-md-6 col-lg-6">
                <h2>Mobile Android Appp</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ornare dolor. Vivamus malesuada auctor est id aliquet. Morbi rutrum lectus sit amet purus pulvinar vehicula</p>
                <a href="product.html" class="btn btn-dark">View</a>
              </div>              
              <img class="col-sm-6 col-lg-6 p-2" src="https://phandroid.com/wp-content/uploads/2019/05/Google-Pixel-3a-4-640x427.jpg" alt="Girl in a jacket" width="50" height="250">

            </div>
          </div>

          <div class="tab-pane fade" id="discount" role="tabpanel" aria-labelledby="discount-tab">
            <div class="row">
              <div class="tab-text col-sm-12 col-md-6 col-lg-6">
                <h2>Iphone App</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ornare dolor. Vivamus malesuada auctor est id aliquet. Morbi rutrum lectus sit amet purus pulvinar vehicula</p>
                <a href="product.html" class="btn btn-dark">View</a>
              </div>
              <img class="col-sm-6 col-lg-6 p-2" src="https://static.toiimg.com/photo/71396840.cms" width="50" height="250" alt="">
            </div>
          </div>

          <div class="tab-pane fade" id="premium" role="tabpanel" aria-labelledby="premium-tab">
            <div class="row">
              <div class="tab-text col-sm-12 col-md-6 col-lg-6">
                <h2>Apple Macbook</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ornare dolor. Vivamus malesuada auctor est id aliquet. Morbi rutrum lectus sit amet purus pulvinar vehicula</p>
                <a href="product.html" class="btn btn-dark">View</a>
              </div>
              <img class="col-sm-6 col-lg-6 p-2" src="https://cdn.mos.cms.futurecdn.net/HvjfsxzQHCZxpUYTVgyBDM.jpg" alt="" width="50" height="250">
            </div>
          </div>

          <div class="tab-pane fade" id="gift" role="tabpanel" aria-labelledby="gift-tab">
            <div class="row">
              <div class="tab-text col-sm-12 col-md-6 col-lg-6">
                <h2>Bycycle</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ornare dolor. Vivamus malesuada auctor est id aliquet. Morbi rutrum lectus sit amet purus pulvinar vehicula</p>
                <a href="product.html" class="btn btn-dark">View</a>
              </div>
              <img class="col-sm-6 col-lg-6 p-2" src="https://5.imimg.com/data5/ANDROID/Default/2020/11/SL/LH/ON/28038605/img-20200815-wa0146-jpg-500x500.jpg" alt="" width="50" height="250">
            </div>
          </div>

        </div>

      </div>
    </div>

