
<form class="search-form rounded px-3 py-2" action="">
  <div class="row">
    <div class="form-group col-sm-4 my-2">
      <input type="email" class="form-control" placeholder="Enter Email...">
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="form-group col-sm-8 my-2">
          <input type="password" class="form-control" placeholder="Enter Password...">
        </div>
        <div class="col-sm-4 my-2">
          <button type="submit" class="btn btn-primary">User Login</button>          
        </div>
      </div>
    </div>
  </div>
</form>
